<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SewSew.SewSewAppConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SewSew.SewSewAppConfig>
            <setting name="ConsumerKey" serializeAs="String">
                <value>zwrGg7u1aen4jexuAJH97w</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>KC8wPeTwjoKr2G5vmVT3n51bt0bwkKQyULeeX8Mjo</value>
            </setting>
            <setting name="PIN" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SecretToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
        </SewSew.SewSewAppConfig>
    </userSettings>
</configuration>